# ID del entorno de Power Platform en el que se trabaja (Environment ID)
# Lo encontrás en la URL del maker portal: https://make.powerapps.com/environments/{ID}/...
VITE_POWER_PLATFORM_ENVIRONMENT_ID=
